---
---
<div class="font-mono text-blue-neon leading-none whitespace-pre select-none opacity-80 scale-75 md:scale-100">
<pre>
      |\      _,,,---,,_
ZZZzz /,`.-'`'    -.  ;-;;,_
     |,4-  ) )-,_. ,\ (  `'-'
    '---''(_/--'  `-'\_)
</pre>
</div>
